@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(111, 0, 255);
  font-family: 'Roboto', sans-serif;
  color: white
}

#title {
  font-size: 60px;
  text-shadow: 7px 7px 10px rgb(61, 61, 61);
}

#image {
  width: 320px;
  height: 480px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px black;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#second-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  align-items: center;
  margin-top: 5%;
}

.margin {
  margin-top: 20px;
}

#randomBtn {
  background-color: rgb(111, 0, 255);
  font-family: 'Roboto', sans-serif;
  color: rgb(41, 41, 41);
  padding: 30px;
  font-size: 20px;
  border-radius: 10px;
  border: solid lightgreen 2px;
  background-color: rgb(0, 255, 0);
  box-shadow: 7px 5px 20px rgb(2, 112, 2);
}

#name {
  font-size: 40px;
}